@import "./variables";

@mixin media($point: "small", $custom-max: 0) {
  @if $point == "custom" {
    @media screen and (min-width: $custom-max) {
      @content;
    }
  } @else {
    @media screen and (min-width: map-get($breakpoints, $point)) {
      @content;
    }
  }
}

@font-face {
  font-weight: normal;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  color: $muted;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: capitalize;
}

h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: capitalize;
}

p {
  margin-bottom: 20px;
  line-height: 24px;
}

.link {
  color: $muted;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $white;
  }
}

.containter {
  box-sizing: border-box;
  padding: 0 20px;
}

.text {
  &-center {
    text-align: center;
  }
}

.flex {
  display: flex;

  &-justify {
    &-between {
      justify-content: space-between;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mb {
  &-31 {
    margin-bottom: 31px;
  }
}

.w-100 {
  width: 100%;
}

.bg {
  &-transparent {
    background: transparent;
  }
}

.btn {
  border: none;
  border-radius: 5px;

  &-green {
    color: $white;
    background-color: $green;
  }
}

@include media(xl) {
  .containter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}
