html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-style: bold;
  text-transform: capitalize;
}

h2 {
    font-size: 18px;
    line-height: 45px;
    font-style: bold;
    text-transform: capitalize;
}
